.furniture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  //   background-color: pink;

  &__title {
    @include title;
    width: 300px;
  }

  &__subtitle {
    @include subtitle;
  }

  &__container {
    margin: 50px 0;
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    margin: 10px;
    transition: 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
}

// ver 1

// section.whatWeDo {
//     position: relative;
//     top: 110vh;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 45vw;
//     height: 109vh;
//     h2 {
//         position: absolute;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 15vw;
//         text-align: center;
//         font-size: 3.5em;
//         font-weight: 500;
//         border-bottom: 1px solid $color-violet;
//     }
//     h3 {
//         position: absolute;
//         top: 7vh;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 65%;
//         font-size: 1.8em;
//         font-weight: 500;
//     }
//     .gallery {
//         display: flex;
//         height: 40vw;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         align-content: space-around;
//         position: absolute;
//         top: 15vh;
//         div.imgWrap {
//             position: relative;
//             div.miniWrap {
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 h4 {
//                     color: white;
//                     font-size: 2.2em;
//                     font-weight: 500;
//                     text-transform: uppercase;
//                 }
//                 h5 {
//                     color: $color-green;
//                     font-size: 1.6em;
//                     font-weight: 500;
//                     text-transform: uppercase;
//                     text-align: center;
//                 }
//             }
//         }
//         div img{
//             display: block;
//             width: 21vw;
//             transition: .3s;
//             cursor: pointer;
//             &:hover {
//                 opacity: 0.9;
//             }
//         }
//     }
//     a {
//         position: absolute;
//         top: 88vh;
//         left: 50%;
//         transform: translateX(-50%);
//         @include btnA;
//     }
//     div.breakLine {
//         position: absolute;
//         top: 115vh;
//         left: 50%;
//         width: 215%;
//         transform: translateX(-50%);
//         border-bottom: 1px solid lightgray;
//     }
// }
